services:
  # -------------------------
  # DATABASES & INFRASTRUCTURE
  # -------------------------
  orderdb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  identitydb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  productdb:
    image: postgres:alpine

  customerdb:
    image: postgres:alpine

  basketdb:
    image: redis:alpine

  inventorydb:
    image: mongo

  hangfiredb:
    image: mongo

  rabbitmq:
    image: rabbitmq:3-management-alpine

  portainer:
    image: portainer/portainer-ce

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.2

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.2

  # -------------------------
  # MICROSERVICES (.NET)
  # -------------------------
  # Lưu ý: Context phải là "." để truy cập được BuildingBlocks
  identity-api:
    image: ${DOCKER_REGISTRY-}identity-api:latest
    build:
      context: .
      dockerfile: src/Services/Identity/IDP/Dockerfile

  product-api:
    image: ${DOCKER_REGISTRY-}product-api:latest
    build:
      context: .
      dockerfile: src/Services/Product/Product.API/Dockerfile

  customer-api:
    image: ${DOCKER_REGISTRY-}customer-api:latest
    build:
      context: .
      dockerfile: src/Services/Customer/Customer.API/Dockerfile

  basket-api:
    image: ${DOCKER_REGISTRY-}basket-api:latest
    build:
      context: .
      dockerfile: src/Services/Basket/Basket.API/Dockerfile

  order-api:
    image: ${DOCKER_REGISTRY-}order-api:latest
    build:
      context: .
      dockerfile: src/Services/Ordering/Ordering.API/Dockerfile

  inventory-product-api:
    image: ${DOCKER_REGISTRY-}inventory-product-api:latest
    build:
      context: .
      dockerfile: src/Services/Inventory/Inventory.Product.API/Dockerfile

  inventory-grpc:
    image: ${DOCKER_REGISTRY-}inventory-grpc:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/Inventory/Inventory.Grpc/Dockerfile

  apigw-ocelot:
    image: ${DOCKER_REGISTRY-}apigw-ocelot:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: src/ApiGateways/OcelotApiGw/Dockerfile

  hangfire-api:
    image: ${DOCKER_REGISTRY-}hangfire-api:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/ScheduledJob/Hangfire.API/Dockerfile
  
  webstatus:
    image: ${DOCKER_REGISTRY-}webstatus:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: src/WebApps/WebHealthStatus/Dockerfile

  # -------------------------
  # PYTHON SERVICES
  # -------------------------
  chatbot-api:
    image: ${DOCKER_REGISTRY-}chatbot-api:latest
    build:
      context: .
      dockerfile: src/Services/Chatbot/Dockerfile

  mcp-server:
    image: ${DOCKER_REGISTRY-}mcp-server:latest
    build:
      context: .
      dockerfile: src/Services/MCP/Dockerfile

volumes:
  chatbot-data: