services:
  # ============================================================
  # DATABASE & INFRASTRUCTURE
  # ============================================================
  
  # SQL Server (Order)
  orderdb:
    container_name: orderdb
    environment:
      - SA_PASSWORD=${SA_PASSWORD}
      - ACCEPT_EULA=Y
    restart: always
    ports:
      - "1435:1433"
    volumes:
      - order_data:/var/opt/mssql

  # SQL Server (Identity)
  identitydb:
    container_name: identitydb
    environment:
      - SA_PASSWORD=${SA_PASSWORD}
      - ACCEPT_EULA=Y
    restart: always
    ports:
      - "1436:1433"
    volumes:
      - identity_data:/var/opt/mssql
 
  # PostgreSQL (Product)
  productdb:
    container_name: productdb
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_PRODUCT}
    restart: always
    ports:
      - "5434:5432"
    volumes:
      - product_data:/var/lib/postgresql/data

  # PostgreSQL (Customer)
  customerdb:
    container_name: customerdb
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_CUSTOMER}
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - customer_data:/var/lib/postgresql/data

  # Redis (Basket)
  basketdb:
    container_name: basketdb
    restart: always
    ports:
      - "6379:6379"

  # MongoDB (Inventory)
  inventorydb:
    container_name: inventorydb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - inventory_data:/data/db

  # MongoDB (Hangfire)
  hangfiredb:
    container_name: hangfiredb
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27018:27017"
    volumes:
      - hangfire_mongo_data:/data/db
    command: mongod --auth

  # RabbitMQ
  rabbitmq:
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

  # Portainer
  portainer:
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
      - "8080:8080"
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock

  # Elasticsearch
  elasticsearch:
    container_name: elasticsearch
    environment:
      - xpack.monitoring.enabled=true
      - xpack.watcher.enabled=false
      - xpack.security.enabled=true 
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
      - ELASTIC_USERNAME=elastic
      - ELASTIC_PASSWORD=admin
    restart: always
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

  # Kibana
  kibana:
    container_name: kibana
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=admin
    restart: always
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  # ============================================================
  # MICROSERVICES APIs
  # ============================================================

  # Identity API
  identity-api:
    container_name: identity-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      # Sửa dấu : thành __ 
      - "ConnectionStrings__IdentitySqlConnection=Server=identitydb,1433;Database=IdentityDb;User Id=sa;Password=${SA_PASSWORD};MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=True"
      - "IdentityServer__BaseUrl=http://localhost:6001"
      - "IdentityServer__IssuerUri=http://localhost:6001"
      - "JwtSettings__Key=${JWT_SECRET_KEY}"
      - "JwtSettings__Issuer=${JWT_ISSUER}"
      - "JwtSettings__Audience=${JWT_AUDIENCE}"
      - "JwtSettings__ExpirationInMinutes=${JWT_EXPIRATION_MINUTES}"
      - "ElasticConfiguration__Uri=http://elasticsearch:9200"
      - "ElasticConfiguration__Username=elastic"
      - "ElasticConfiguration__Password=admin"
      # SMTP Settings
      - "SMTPEmailSetting__SMTPServer=smtp.gmail.com"
      - "SMTPEmailSetting__DisplayName=E-commerce Microservice"
      - "SMTPEmailSetting__EnableVerifacation=false"
      - "SMTPEmailSetting__From=ecommercemicroservice@gmail.com"
      - "SMTPEmailSetting__UseSsl=true"
      - "SMTPEmailSetting__Port=587"
      - "SMTPEmailSetting__Username=khiemmm2004@gmail.com"
      - "SMTPEmailSetting__Password=ewrn cvot wuoo peft"
    depends_on: 
      - identitydb
      - elasticsearch
    ports:
      - "6001:80"
    restart: always

  # Product API
  product-api:
    container_name: product-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - "DatabaseSettings__ConnectionString=server=productdb;port=5432;database=${POSTGRES_DB_PRODUCT};uid=${POSTGRES_USER};pwd=${POSTGRES_PASSWORD}"
      - "JwtSettings__Key=${JWT_SECRET_KEY}"
      - "JwtSettings__Issuer=${JWT_ISSUER}"
      - "JwtSettings__Audience=${JWT_AUDIENCE}"
      - "JwtSettings__ExpirationInMinutes=${JWT_EXPIRATION_MINUTES}"
      - "ApiConfiguration__ApiBaseUrl=http://product-api"
      - "ApiConfiguration__IdentityServerBaseUrl=http://localhost:6001"
      - "ApiConfiguration__IssuerUri=http://localhost:6001"
    depends_on: 
      - productdb
      - identity-api
    ports:
      - "6002:80"
    restart: always
  
  # Customer API
  customer-api:
    container_name: customer-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - "DatabaseSettings__ConnectionString=server=customerdb;port=5432;database=${POSTGRES_DB_CUSTOMER};uid=${POSTGRES_USER};pwd=${POSTGRES_PASSWORD}"
      - "JwtSettings__Key=${JWT_SECRET_KEY}"
      - "JwtSettings__Issuer=${JWT_ISSUER}"
      - "JwtSettings__Audience=${JWT_AUDIENCE}"
      - "JwtSettings__ExpirationInMinutes=${JWT_EXPIRATION_MINUTES}"
      - "HangFireSettings__Storage__ConnectionString=server=customerdb;port=5432;database=${POSTGRES_DB_CUSTOMER};uid=${POSTGRES_USER};pwd=${POSTGRES_PASSWORD}"
      - "ElasticConfiguration__Uri=http://elasticsearch:9200"
      - "ElasticConfiguration__Username=elastic"
      - "ElasticConfiguration__Password=admin"
    depends_on:
      - customerdb
      - elasticsearch
    ports:
      - "6003:80"
    restart: always

  # Basket API
  basket-api:
    container_name: basket-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - "CacheSettings__ConnectionString=basketdb:6379"
      - "JwtSettings__Key=${JWT_SECRET_KEY}"
      - "JwtSettings__Issuer=${JWT_ISSUER}"
      - "JwtSettings__Audience=${JWT_AUDIENCE}"
      - "JwtSettings__ExpirationInMinutes=${JWT_EXPIRATION_MINUTES}"
      - "EventBusSettings__HostAddress=amqp://guest:guest@rabbitmq:5672"
      - "GrpcSettings__StockUrl=http://inventory-grpc"
      - "UrlSettings__ApiGwUrl=http://apigw-ocelot"
      - "UrlSettings__HangfireUrl=http://hangfire-api"
    depends_on:
      - basketdb
      - rabbitmq
    ports:
      - "6004:80"
    restart: always

  # Order API
  order-api:
    container_name: order-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - "ConnectionStrings__DefaultConnection=Server=orderdb,1433;Database=OrderDb;User Id=sa;Password=${SA_PASSWORD};MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=True"
      - "JwtSettings__Key=${JWT_SECRET_KEY}"
      - "JwtSettings__Issuer=${JWT_ISSUER}"
      - "JwtSettings__Audience=${JWT_AUDIENCE}"
      - "JwtSettings__ExpirationInMinutes=${JWT_EXPIRATION_MINUTES}"
      - "EventBusSettings__HostAddress=amqp://guest:guest@rabbitmq:5672"
      - "ElasticConfiguration__Uri=http://elasticsearch:9200"
      - "ElasticConfiguration__Username=elastic"
      - "ElasticConfiguration__Password=admin"
    depends_on:
      - orderdb
      - rabbitmq
      - elasticsearch
    ports:
      - "6005:80"
    restart: always

  # Inventory API (REST)
  inventory-product-api:
    container_name: inventory-product-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - "MongoDbSettings__ConnectionString=mongodb://inventorydb:27017"
      - "MongoDbSettings__DatabaseName=InventoryDb"
      - "JwtSettings__Key=${JWT_SECRET_KEY}"
      - "JwtSettings__Issuer=${JWT_ISSUER}"
      - "JwtSettings__Audience=${JWT_AUDIENCE}"
      - "JwtSettings__ExpirationInMinutes=${JWT_EXPIRATION_MINUTES}"
      - "ElasticConfiguration__Uri=http://elasticsearch:9200"
      - "ElasticConfiguration__Username=elastic"
      - "ElasticConfiguration__Password=admin"
    depends_on:
      - inventorydb
      - elasticsearch
    ports:
      - "6006:80"
    restart: always

  # Inventory API (gRPC)
  inventory-grpc:
     container_name: inventory-grpc
     environment:
       - ASPNETCORE_ENVIRONMENT=Development
       - ASPNETCORE_URLS=http://+:80
       - ASPNETCORE_HTTP_PORTS=80
       - "MongoDbSettings__ConnectionString=mongodb://inventorydb:27017"
       - "MongoDbSettings__DatabaseName=InventoryDb"
       - "ElasticConfiguration__Uri=http://elasticsearch:9200"
       - "ElasticConfiguration__Username=elastic"
       - "ElasticConfiguration__Password=admin"
       # [QUAN TRỌNG] Bắt buộc phải có để chạy gRPC không SSL trong Docker
       - "Kestrel__EndpointDefaults__Protocols=Http2"
     depends_on:
       - inventorydb
       - elasticsearch
     ports:
       - "6007:80"
     restart: always
  
  # API Gateway (Ocelot)
  apigw-ocelot:
     container_name: apigw-ocelot
     environment:
       - ASPNETCORE_ENVIRONMENT=Local
       - ASPNETCORE_URLS=http://+:80
       - "GlobalConfiguration__BaseUrl=http://apigw-ocelot"
       - "ApiConfiguration__ApiBaseUrl=http://apigw-ocelot"
       - "ApiConfiguration__IdentityServerBaseUrl=http://identity-api:80"
       - "ApiConfiguration__IssuerUri=http://identity-api"
     depends_on:
       - identity-api
       - product-api
       - customer-api
       - basket-api
       - order-api
       - inventory-product-api
     ports:
       - "5000:80"
     restart: always

  # Hangfire API
  hangfire-api:
   container_name: hangfire-api
   environment:
     - ASPNETCORE_ENVIRONMENT=Local
     - ASPNETCORE_URLS=http://+:80
     # [ĐÃ SỬA] Dùng dấu __ thay cho : và format đúng Mongo connection string
     - "HangFireSettings__Storage__ConnectionString=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@hangfiredb:27017/hangfire-webapi?authSource=admin"
     - "ElasticConfiguration__Uri=http://elasticsearch:9200"
     - "ElasticConfiguration__Username=elastic"
     - "ElasticConfiguration__Password=admin"
   depends_on:
     - hangfiredb
     - elasticsearch
   ports:
     - "6008:80"
   restart: always

  # ============================================================
  # PYTHON SERVICES
  # ============================================================

  # Chatbot API
  chatbot-api:
    container_name: chatbot-api
    environment:
      - XAI_API_KEY=${XAI_API_KEY:-}
      - DEEPSEEK_API_KEY=${DEEPSEEK_API_KEY:-}
      - OPENAI_API_KEY=${OPENAI_API_KEY:-}
      - OPENAI_MODEL=${OPENAI_MODEL:-gpt-4o-mini}
      - OPENAI_EMBEDDING_MODEL=${OPENAI_EMBEDDING_MODEL:-text-embedding-3-small}
      - API_GATEWAY_URL=http://apigw-ocelot
      - PRODUCT_API_URL=http://product-api
      - BASKET_API_URL=http://basket-api
      - ORDER_API_URL=http://order-api
      - CUSTOMER_API_URL=http://customer-api
      - REDIS_HOST=basketdb
      - REDIS_PORT=6379
      - REDIS_DB=1
      - SQLITE_DB_PATH=/app/data/chatbot.db
      - MCP_GRPC_URL=mcp-server:50051
      - APP_NAME=E-commerce Chatbot MCP Service
      - APP_VERSION=3.0.0
      - LOG_LEVEL=DEBUG
    volumes:
      - chatbot-data:/app/data
    depends_on:
      - mcp-server
    ports:
      - "6009:80"
    restart: always

  # MCP Server
  mcp-server:
    container_name: mcp-server
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY:-}
      - EMBEDDING_MODEL=${OPENAI_EMBEDDING_MODEL:-text-embedding-3-small}
      - LLM_MODEL=${OPENAI_MODEL:-gpt-4o-mini}
      - GRPC_PORT=50051
      - HTTP_PORT=8001
      - BROWSER_HEADLESS=true
      - LOG_LEVEL=INFO
      - API_GATEWAY_URL=http://apigw-ocelot
      - PRODUCT_API_URL=http://product-api
      - BASKET_API_URL=http://basket-api
      - ORDER_API_URL=http://order-api
      - CUSTOMER_API_URL=http://customer-api
    ports:
      - "50051:50051"
      - "8001:8001"
    restart: always

  # Web Health Status (UI)
  webstatus:
    container_name: webstatus
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - "HealthChecksUI__HealthChecks__0__Name=Identity Health Check"
      - "HealthChecksUI__HealthChecks__0__Uri=http://identity-api/hc"
      - "HealthChecksUI__HealthChecks__1__Name=Product Health Check"
      - "HealthChecksUI__HealthChecks__1__Uri=http://product-api/hc"
      - "HealthChecksUI__HealthChecks__2__Name=Customer Health Check"
      - "HealthChecksUI__HealthChecks__2__Uri=http://customer-api/hc"
      - "HealthChecksUI__HealthChecks__3__Name=Basket Health Check"
      - "HealthChecksUI__HealthChecks__3__Uri=http://basket-api/hc"
      - "HealthChecksUI__HealthChecks__4__Name=Ordering Health Check"
      - "HealthChecksUI__HealthChecks__4__Uri=http://order-api/hc"
      - "HealthChecksUI__HealthChecks__5__Name=Inventory Health Check"
      - "HealthChecksUI__HealthChecks__5__Uri=http://inventory-product-api/hc"
      - "HealthChecksUI__HealthChecks__6__Name=Scheduled Job Health Check"
      - "HealthChecksUI__HealthChecks__6__Uri=http://hangfire-api/hc"
      - "HealthChecksUI__HealthChecks__7__Name=Chatbot Health Check"
      - "HealthChecksUI__HealthChecks__7__Uri=http://chatbot-api/health"
    depends_on:
      - identity-api
      - product-api
      - customer-api
      - basket-api
      - order-api
      - inventory-product-api
      - hangfire-api
      - chatbot-api
    ports:
        - "6010:80"
    restart: always

# ============================================================
# NETWORKS & VOLUMES
# ============================================================
networks:
  default:
    name: microservices
    driver: bridge

volumes:
  # DB Data
  order_data:
  identity_data:
  product_data:
  customer_data:
  inventory_data:
  hangfire_mongo_data:
  
  # Infra Data
  pgladmin_data:
  portainer_data:
  elasticsearch_data:
  chatbot-data: